.navigation-links {
    gap: 15px;
}

.selected-link {
    color: teal;
    text-decoration: underline;
    pointer-events: none;
}

.unselected-link {
    color: grey;
    text-decoration: none;
}

.image-styling {
    width: 190px;
    height: 150px;
    border: 2px black;
}

.group-links {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
  }
