.image-styling {
    width: 190px;
    height: 150px;
}

.image-info-spacing {
    gap: 20px;
}

.navigation-links {
    gap: 15px;
}

.selected-link {
    color: teal;
    text-decoration: underline;
    pointer-events: none;
}

.unselected-link {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: teal;
    text-decoration: none;
  }

 .info-container {
    background-color: rgb(234, 233, 233);
 }

.clock-image {
    width: 20px;
    height: 20px;
    padding: 5px;
  }
